@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f7f9fc;
}

.services-page {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

header p {
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0 40px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.5s ease,filter 0.5s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    border: 1px solid #f80720;
    filter : drop-shadow(0 0 0.80rem #f80720);
}

.icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1rem;
    color: #666;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Initially hide the elements */
  .fade-in-element {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Class to trigger animation when in view */
  .fade-in {
    animation: fadeInUp 1s forwards;
  }